.corpo {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/Banner-meu-site.png");
  background-color: linear-gradient(
    94.09deg,
    rgba(0, 0, 0, 0.57) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );

  background-position: center;
  background-size: cover;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.body-content span {
  font-size: 3rem;
  font-weight: 900;
}

.body-content span:first-child {
  margin-bottom: 40px;
}

.body-content > .name,
.job {
  font-size: 1.5rem;
}

button {
  margin-top: 30px;
  height: 50px;
  width: 15vw;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  background-color: #ffea97;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
